body{
  background-color: rgba(10, 9, 9, 0.048);
  margin: 0;
}
  
 .banner{
    display: flex;
    justify-content:center;
    align-items: center;
    border:none;
    position: relative;
    overflow: hidden;
    margin-top: 12px;
   
      }
 
  .navigation{
    background: transparent;
    border: none;
    position: absolute;
    z-index: 5;
  
  }
   
   .btn2{
    position: absolute;
    right:230px;
         } 
 

  .btn1{
    position: relative;
    left: 70px;
   
  } 

  nav{
    display: flex;
    justify-content:space-around;
    flex-flow: row wrap;
    padding: 3px;
    background: rgb(7, 7, 7);
    width: 100%;
    margin: 0;
   
  }
   
  .link{
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Montaga', serif;
    font-size: 20px;
  }
  .footer{
    display: flex;
    flex-flow: row wrap;
    
    position: fixed;
    background-color: black;
    width: 100%;
    height: 30px;
    left: 0px;
    bottom: 0px;
     
   }

  p{
    
    font-family: 'Montaga', serif;
    font-size: 15px;
    align-items: flex-start;
    margin-top: 5px;
  
   
  }
 h2{
  color: #991919;
  font-family: 'Montaga', serif;
  font-size: 18px; 
  text-transform: uppercase;
  

 }
   h4{
    color: white;
    font-family: 'Montaga', serif;
    font-size: 15px;
    align-items: flex-start;
    margin-top: 5px;
   }
   
  .icons{
    border-radius: 5%;
    background-color: rgba(243, 229, 229, 0.808);
    
    margin: -7px 5px  ;
    
     }
     .icons:hover{
      background-color: rgb(237, 243, 235)
     }
    .move{
    display: block;
    flex-flow: row wrap;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
    }

    .contacts{
     background-color: #991919;
     padding: 15px;
     border: none;
     color: white;
     text-transform: uppercase;
     font-family: 'Montaga', serif;
     font-size: 20px;
    }
    ul{
      font-family: 'Montaga', serif;
      text-align:start;
      flex-direction: column;
     margin-left: 250px;
   
      
    
    }
.container{
  margin-left: 50px;
  text-align: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
    .schedule{
      margin-top: 50px;
      display: grid;
      grid-template-columns: auto auto ;
      flex-flow: row wrap;
    }
      
    .special{
      margin-bottom: auto;
      margin-top: -200px;
      display: block;
      flex-direction: column;
      font-family: 'Montaga', serif;
      flex-flow: row wrap;
     
    }
 
    .deals{
    
      display: grid;
      grid-template-columns: auto auto auto ;
      justify-content: center;
    }

    .container1{
      flex-wrap: wrap;
      flex-flow: row wrap;
      margin-left: 50px;
      text-align: center;
      margin: 30px;
     
    }
    .border{
      background-color: #991919;
      padding: 20px;
      width: 100%;
      border: none;
      color: white;
      font-family: 'Montaga', serif;
      font-size: 20px;
      
    }
    .border2{
      margin-top: -10px;
      padding: 5px;
      width:30%;
      border: none;
      color: #991919;
      font-family: 'Montaga', serif;
      font-size: 20px;
          }
          
    .hide{
      display: none;
    }

    .border2:hover + .hide {
      display: block;
      color: red;
        }

    .products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
         }

.product-card {
  padding: 5%;
  flex-grow: 1;
  flex-basis: 20%;
} 
.name{
  text-align: center;
  color: #991919;
  font-family: 'Montaga', serif;
  font-size: 25px;
  }
.text{
  margin-top: -50px;
  font-family: 'Montaga', serif;
  font-size: 15px;
  color: #991919;
  text-align: center;
}

.features{
  margin-top: -50px;
  font-family: 'Montaga', serif;
  font-size: 15px;
  color: black;
  text-align: center;
}
 
.pictires{
  align-items: center;
  margin-top: -100px;
}

.group{
  
  display:flex;


}
.change{
  background-color: #991919;
  color:white;
  font-family: 'Montaga', serif;
  font-size: 20px;
  padding: 10px;
  margin: 20px ;
  width: 100%;
  border: none;
  
 }
 .book{
  display: flex;
  justify-content: center;
  margin-top: -20px;
 }
 .bookCar{
  background-color: #991919;
  color:white;
  font-family: 'Montaga', serif;
  font-size: 20px;
  width: 50%;
  border: none;
  
 }  
 .showMore{
  border: none;
  font-size: 15px;
  font-family: 'Montaga', serif;
  color: #991919;
 }